h3 {
  padding: 10px;
  text-align: center;
  background-color: lavender;
}

.episodes {
  margin: auto;
  width: 74%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
