.header {
  text-align: center;
  background-color: #dad4d4;
}

.main span {
  font-size: x-large;
}

.flex {
  margin: auto;
  width: 62%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
